<section>
	<h2>Contact us</h2>
</section>
<section class="login-form">
	<p class="comment">If you have some questions or suggestions you can right to us...</p>
	<div class="form-group">
		<textarea placeholder="You message..." class="form-control mess"></textarea>
		<label class="login-field-icon fui-new"></label>
	</div>
	<div class="form-group">
		<input type="text" placeholder="Your name" class="form-control">
		<label class="login-field-icon fui-user"></label>
	</div>
	<div class="form-group">
		<input type="email" placeholder="Your email" class="form-control">
		<label class="login-field-icon fui-mail"></label>
	</div>
	<input class="btn btn-lg btn-primary" type="submit" value="Send">
	<!-- <span>*to languageacademy@gmail.com</span> -->
	<h4>This site is created by:</h4>
	<p>Angelina Bylitskaya: <a href="#">vk.com</a></p>
	<p>Nikita Nikolsky: <a href="#">vk.com</a></p>
	<p><a href="#/index">languageacademy.by</a></p>
</section>