<secttion>
	<div ng-app="webrtcV0App">
		<div class="login">
			<h2>Welcome</h2>
	        <div class="login-screen">
	        	<form class="login-form" action="/login" method="POST">
	            	<div class="form-group">
	              		<input id="login-name _login" type="text" name="username" class="form-control login-field" placeholder="Enter your username" required />
              			<label class="login-field-icon fui-user"></label>
	            	</div>
		            <div class="form-group">
		            	<input id="login-pass _passw" type="password" name="password" class="form-control login-field" placeholder="Password" required />
	              		<label class="login-field-icon fui-lock"></label>
		            </div>
		            <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
					<!-- <a class="btn btn-primary btn-lg btn-block" ng-click="valuate()" href="">Log in</a> -->
	            	<a class="login-link" href="#">Lost your password?</a>
	          </form>
	        </div>
	    </div>
	</div>
</secttion>